.app {
    background: linear-gradient(
            to bottom right,
            #dbbf1c 0%,
            #029ca1 25%,
            #d420d4 50%,
            #50d62e 75%,
            #e4f042 100%
    );
}

.beat {
    background: linear-gradient(to bottom, #ffffff 0%, #f8f8f8 50%, #ffffff 100%);
    font-size: xx-small;
    text-align: center;
}

.beat-selected {
    background: lightblue;
    font-size: xx-small;
}

.beat-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

.music-player {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* To ensure MusicPlayer stays on top */
    background-color: white; /* Optional: Add a background color to visually separate the music player from other content */
}

.header {
    position: sticky;
    display: flex;
    top:0;
    left:0;
    right:0;
    z-index: 1000;
    background-color: #14a7ba;
    justify-content: space-between;
    padding: 10px;
}

.beat-store {
    align-self: center;
    margin-left: 10px;
}

.register-button {

}

.login-button {

}

.auth-buttons-container {
    right: 10px;
    top: 0;
    display: flex;
    flex-direction: column;

}